<div class="bg_dark"></div>

<div class="home-info">
	<h1 class="slogan">Looking for love? Trust your friends!</h1>
	<a class="btn btn-social btn-lg btn-facebook">
		<i class="fa fa-facebook"></i> Sign in with Facebook
	</a>
	<br /><br />
</div>

<script type="text/javascript">
	jQuery(function($) {
		$.supersized({
			slide_interval		: 4000,
			transition			: 1,
			transition_speed  	: 700,
			slide_links			: 'blank',

			slides 				: [
				{image : 'assets/heart_bg-img.jpg'},
				{image : 'assets/couple_bg-img.jpg'},
				{image : 'assets/lovelocks_bg-img.jpg'}
				
			]
		});
	});

</script>
